In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report

In [ ]:
data = pd.read_table('/content/sample_data/name_gender_dataset')

In [ ]:
data.head()

     James  M
0     John  M
1   Robert  M
2  Michael  M
3  William  M
4     Mary  F

*TEXT PRE-PROCESSIN*G

In [ ]:
data.columns = ['Name','Gender']

In [ ]:
data.head()

      Name Gender
0     John      M
1   Robert      M
2  Michael      M
3  William      M
4     Mary      F

In [ ]:
len(data)

147268

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147268 entries, 0 to 147267
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    147268 non-null  object
 1   Gender  147268 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

In [ ]:
data.isna().sum()

Name      0
Gender    0
dtype: int64

In [ ]:
data['Name'].value_counts()

John         2
Rhylie       2
Carle        2
Chaun        2
Ekam         2
            ..
Manard       1
Macksen      1
Lonas        1
Lethaniel    1
Zyton        1
Name: Name, Length: 133910, dtype: int64

In [ ]:
y=data['Gender'].values
y.shape

(147268,)

In [ ]:
x=data['Name'].values
x.shape

(147268,)

Train-Test *split*

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
(x_train,x_test,y_train,y_test)=train_test_split(x,y,test_size=0.4)

In [ ]:
x_train.shape #Name

(88360,)

In [ ]:
y_train.shape #Gender

(88360,)

In [ ]:
x_test.shape #Name

(58908,)

In [ ]:
y_test.shape #Gender

(58908,)

In [ ]:
x_train

array(['Naquille', 'Jammar', 'Kamarius', ..., 'Cuma', 'Ersell',
       'Jeng-Chou'], dtype=object)

In [ ]:
data1=pd.DataFrame(x_train)
data1=data1.rename(columns={0: 'Gender'})

data2=pd.DataFrame(y_train)
data2=data2.rename(columns={0: 'Name'})

data_train=pd.concat([data1,data2],axis=1)

In [ ]:
data3=pd.DataFrame(x_test)
data3=data3.rename(columns={0: 'Gender'})

data4=pd.DataFrame(y_test)
data4=data4.rename(columns={0: 'Name'})

data_test=pd.concat([data3,data4],axis=1)

In [ ]:
data_train.head()

     Gender Name
0  Naquille    M
1    Jammar    M
2  Kamarius    M
3   Ruksana    F
4     Khion    M

In [ ]:
data_test.head()

     Gender Name
0     Vieve    F
1  Cithlaly    F
2    Lyndie    F
3   Yanelli    F
4     Esaie    M

### Punctuations REMOVING

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation(text):
  if(type(text)==float):
    return text
  ans=""
  for i in text:
    if i not in string.punctuation:
      ans+=i
  return ans

#storing the punctuation free text in a new column called clean_msg
data_train['Gender']=data_train['Gender'].apply(lambda x:remove_punctuation(x))
data_test['Gender']=data_test['Gender'].apply(lambda x:remove_punctuation(x))

In [ ]:
data_train.head()

     Gender Name
0  Naquille    M
1    Jammar    M
2  Kamarius    M
3   Ruksana    F
4     Khion    M

In [ ]:
data_test.head()

     Gender Name
0     Vieve    F
1  Cithlaly    F
2    Lyndie    F
3   Yanelli    F
4     Esaie    M

*Applying* *LogisticRegression* *Model*

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(x_train)

Sent_train = vectorizer.transform(x_train)
Sent_test = vectorizer.transform(x_test)
print(Sent_train.shape)
print(Sent_test.shape)
Sent_train

(88360, 80162)
(58908, 80162)

<88360x80162 sparse matrix of type '<class 'numpy.float64'>'
	with 92842 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(Sent_train,y_train)

LogisticRegression()

In [ ]:
y_pred= classifier.predict(Sent_test)

In [ ]:
accuracy = classifier.score(Sent_test, y_test)
print('Accuracy: ',accuracy)

Accuracy:  0.5719087390507231

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           F       0.60      0.92      0.72     35980
           M       0.18      0.03      0.05     22928

    accuracy                           0.57     58908
   macro avg       0.39      0.47      0.39     58908
weighted avg       0.44      0.57      0.46     58908